<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogify</title>
</head>
<body>
    <div id="container">
        <section id="logo">
            <div id="logo">
                <h1>Blogify</h1>
            </div>
        </section>

        <section id="navbar">
            <div id="btn-nav" class="nav">
                <button id="Add blogs">Add Blogs</button>
            </div>
        </section>
    </div>
</body>
</html>