<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <form action="/home" method="POST"> -->
        <!-- Hero Section -->
        <section id="hero-content">
            <div id="Logo">TechSphere</div>
            <p>
                <input type="text" placeholder="Search">
                <span class="material-symbols-outlined">group</span>
                <span class="material-symbols-outlined">notifications</span>
                <span class="material-symbols-outlined">person</span>
                <span class="material-symbols-outlined">settings</span>
                <span class="material-symbols-outlined">bookmark</span>
            </p>
        </section>

        <!-- Search Bar and Postbar -->
        <section id="search-container">
            <div id="postbar">
                <input type="text" placeholder="What's on your Mind?">
                <button id="Post">Post</button>
            </div>
        </section>
    <!-- </form> -->
</body>
</html>
