<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="../Frontend/Style.css"
</head>
<body>
    <div id="header">
        <section id="hero-content">
            <div id="logo" class="logo">
                <h1>TechSphere</h1>
            </div>
        </section>

        <section id="navbar">
            <div id="navbar" class="navbar">
                <button onclick="redirectTo('<%= homePath %>')">Home</button>
                <button onclick="redirectTo('<%= explorePath %>')">Explore</button>
                <button onclick="redirectTo('<%= aboutPath %>')">About</button>
                <button onclick="redirectTo('<%= loginSignupPath %>')">Login/Signup</button>
            </div>
        </section>
        
        

        <section id="main-content">
            <div id="main-content" class="main-content">
                <h2>Your Voice Your Tech Story</h2>
                <h3><b>Share Your Tech Ideas with World</b></h3>
            </div>
            <div id="background">
                <img src='../resources/61572ada-aa93-4561-bdc2-d6c998f23392.webp' alt="Background">
            </div>
        </section>

        <section id="about"> <!-- Removed extra "#" from id -->
            <div>
                <h1>WHY TechSphere?</h1>
                <p>"A platform for sharing and exploring the latest in technology."</p>
                <p>"No login required. Share anonymously or with your name."</p>
                <p>
                    🆓 🌐 Open for All
                </p>
            </div>
        </section>
    </div>
</body>
</html>
